.music_app{
	position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background: #eee;
    transition: 1s;
}
.music_app .mapp{
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
	box-shadow: inset 0 25px 20px -20px rgba(204, 0, 72, 0.3);
	transition: 1s;
}
.music_app .mapp[state=mplayer]{
	transform: perspective(10px) translate3d(0, 0, -0.5px) rotateX(0.1deg);
}

.music_app .max_ma_player{
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0%;
    background: #e8e8e8;
    transition: 1s;
}
.music_app .max_ma_player[state=true]{
	height: 100%;
}

.music_app .max_ma_player .img{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60%;
    background: rgb(204, 0, 72);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url();
}
.music_app .max_ma_player .bg{
	position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    bottom: 0;
}
.music_app .max_ma_player .bg .info{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 5px 20px;
    text-align: center;
}
.music_app .max_ma_player .bg .info label{
	display: block;
    margin: 0 auto;
    text-align: center;
}
.music_app .max_ma_player .bg .info label, .music_app .max_ma_player .bg .info text{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.music_app .max_ma_player .bg .ma_mp_controls{
	position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
}
	
.music_app .ma_content{
	position: absolute;
    top: 0;
    bottom: 45px;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-y: auto;
	padding: 0 0 2px 0;
}
.music_app .ma_content .content_load_music{
	width: 100%;
    height: calc(100% - 100px);
    padding: 50px 0;
    text-align: center;
	color: #cc0048;
}	

.music_app .ma_content .content_load_music .load_music_button input[type=file]{
	outline:0;
	opacity:0;
	pointer-events:none;
	user-select:none;
}
.music_app .ma_content .content_load_music .load_music_button .label{
	width: calc(100% / 2 + 40px);
    height: 40px;
    border: 2px solid #cc0048;
    border-radius: 5px;
    display: block;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
    margin: 10px auto;
    position: relative;
}
.music_app .ma_content .content_load_music .load_music_button .label i{
	display: block;
    position: absolute;
    right: 0;
    padding: 8px;
    color: #cc0048;
}
.music_app .ma_content .content_load_music .load_music_button .label .title{
	position: absolute;
    left: 0;
    right: 40px;
    padding: 10.5px;
}
.music_app .ma_content .content_load_music .load_music_button .label i, 
.music_app .ma_content .content_load_music .load_music_button .label .title{
	color: #cc0048;
}
.music_app .ma_content .content_load_music .load_music_button .label:hover{
	border: 2px solid #cc0048;
    background: #cc0048;
}
.music_app .ma_content .content_load_music .load_music_button .label:hover i,
.music_app .ma_content .content_load_music .load_music_button .label:hover .title{
	color: #fff;
}


	
.music_app .ma_player{
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45px;
    background: #cc0048;
    box-shadow: 0 0 20px 5px rgba(204, 0, 72, 0.3);
	transition: 0.5s;
}
.music_app .ma_player[state=false]{
	bottom: -45px;
}

.music_app .ma_player .img{
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 45px;
    background: rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url();
}
.music_app .ma_player .info{
	position: absolute;
    top: 0;
    left: 45px;
    bottom: 0;
    right: 0;
    overflow: hidden;
    color: #fff;
}
.music_app .ma_player .info label, .music_app .ma_player .info text{
	position: absolute;
	left: 5px;
    right: 5px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.music_app .ma_player .info label{
    top: 6px;
}
.music_app .ma_player .info text{
    bottom: 6px;
}

.music_app .ma_player .ma_mp_controls{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: right;
}
.music_app .ma_player .ma_mp_controls a{
	display: inline-block;
    width: 45px;
    height: 45px;
    color: #fff;
    overflow: hidden;
}
.music_app .ma_player .ma_mp_controls a i{
    padding: 7px;
    font-size: 31px;
}



